@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* Changes made below*/
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  /* Changes made below*/
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* Changes made below*/
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Changes made below */

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

/* CENTERS EVERYTHING */
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.footer {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}